{
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "singleQuote": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "crlf"
}
